body{
    background-color: #ebe1d8;
    padding-left: 60px;
    padding-right: 50px;
}

html{
    scroll-behavior: smooth;
}


#logo{
    float: left;
    margin: 15px 0 0 10px;
}

#menu{
    float: right;
}

#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul li{
    float: left;
    margin: 40px 50px 0 0;
}

#menu ul li a{
    display: block;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: black;

}

#menu ul li a:hover{
    font-weight: 600;
}

.fa-magnifying-glass{
    position: absolute;
    margin-left: 65px;
    margin-top: 2px;
}

input{
    width: 150px;
    border-radius: 20px;
    border:solid 0px;
    padding: 10px 10px 10px 40px;
    margin-top: -20px;
}

section{
    font-family: 'Rubik', sans-serif;
    margin-top: 50px;
}


.solhisse{
    width: 300px;
    float: left;
    margin-left: 20px;
}

.solhisse h1{
    font-size: 50px;
}

.solhisse p{
    font-weight: 600;
    opacity: 0.5;
}

.solhisse .qiymet{
    font-weight: 600;
    font-size: 30px;
    opacity: 1;
}

.duyme a{
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    background-color: rgb(3, 3, 46);
    border-radius: 90px;
    line-height: 50px;
}

.duyme a:hover{
    background-color: rgb(5, 5, 78);
}
.duyme a i{
    color: rgb(233, 195, 99);
}

.ortahisse img{
    float: left;
    border-radius: 100%;
    margin-left: 50px;
}
.saghisse{
   float: left;
   width: 180px;
   margin-left: 150px;
}

.saghisse p{
    opacity: 0.5;
}
.saghisse h2{
    font-size: 20px;
}

.saghisse ul li{
    list-style: none;
}

.saghisse img{
    margin: 0px 0 -90px -80px;
}

.althisse{
    background-color: rgb(3, 3, 46);
    width: 1100px;
    height: 200px;
    margin: 250px 0 0 50px;
    border-radius: 90px 90px 0 0;
}

.alt{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #fff;
    float: left;
    margin-left: 90px;
}

.alt p{
    margin-left: 40px;
}

.add a{
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}

.add a:hover{
    opacity: 1;
}

.alt img{
    border-radius: 100%;
    margin: 150px 0 0 55px;
}


footer{
    margin: 40px 0 0 50px;
    width: 1080px;
    float: left;
}

span{
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -40px;
}

.fa-chevron-circle-up{
    position:fixed;
    bottom: 20px;
    margin-left: 170px;
    color: rgb(5, 5, 78);

}